# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
data/*.log
logs/

# Secure files
.env
secret*
*.key
*.pem

# Data
data/

# OS files
.DS_Store
Thumbs.db
